<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Appointment</servlet-name>
        <servlet-class>controller.AppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAvailableDoctors</servlet-name>
        <servlet-class>controller.GetAvailableDoctorsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientLoginServlet</servlet-name>
        <servlet-class>controller.patientLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDoctorServlet</servlet-name>
        <servlet-class>controller.viewDoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAppointmentsServlet</servlet-name>
        <servlet-class>controller.ViewAppointmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAppointmentServlet</servlet-name>
        <servlet-class>controller.viewAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndAppointmentServlet</servlet-name>
        <servlet-class>controller.EndAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAppointmentServlet</servlet-name>
        <servlet-class>controller.ViewAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorLoginServlet</servlet-name>
        <servlet-class>controller.doctorLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Appointment</servlet-name>
        <url-pattern>/Appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAvailableDoctors</servlet-name>
        <url-pattern>/GetAvailableDoctors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientLoginServlet</servlet-name>
        <url-pattern>/patientLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDoctorServlet</servlet-name>
        <url-pattern>/viewDoctorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAppointmentsServlet</servlet-name>
        <url-pattern>/ViewAppointmentsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAppointmentServlet</servlet-name>
        <url-pattern>/viewAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndAppointmentServlet</servlet-name>
        <url-pattern>/EndAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAppointmentServlet</servlet-name>
        <url-pattern>/ViewAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorLoginServlet</servlet-name>
        <url-pattern>/doctorLoginServlet</url-pattern>
    </servlet-mapping>
</web-app>
